.markdown {
  @apply text-lg leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply mt-4 mb-16;
}

.markdown h2 {
  @apply leading-snug inline-block font-semibold;
}

.markdown h3 {
  @apply text-2xl mt-8 mb-4 leading-snug;
}
